/* our package */
.custom-card p {
  color: rgba(132, 129, 153, 1);
}
.custom-card a {
  background-color: rgba(244, 150, 210, 0.1);
  color: rgba(63, 135, 245, 1);
  font-weight: 700;
  border: white;
  border-radius: 24px;
}
.weeding-plus-card {
  color: white;
  background-color: rgba(63, 135, 245, 1);
  border-radius: 26px;
  box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
  transform: translateY(-10%);
}
.hot-btn {
  transform: translate(-50%, -20%);
}
/* media queries */
@media only screen and (max-width: 576px) {
  .image-slider img {
    transform: scaleX(2);
    width: 360px;
    height: 586px;
  }
}
